<mat-toolbar color="primary">
  <div class="nav_container">
    <button  (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="menu_title">
      <span >My dashboard</span>

    </div>
  </div>

  <div>
    <button style="float:right;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

  </div>
</mat-toolbar>


<mat-drawer-container >
  <mat-drawer #drawer mode="side"  class="example-sidenav" >
    <mat-list role="list">
      <mat-list-item role="listitem" [routerLink]="['rejester']">rejester</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>

  </mat-drawer>

  <mat-drawer-content>
    <mat-label [routerLink]="['/dashboard']">Home</mat-label> /rejester
    <hr>
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
